<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <div id="about">
  <%- include("./partials/navbar.ejs") %>
    <div class="container">
      <div class="row">
      <div class="col col-1">
        <img src="/images/my-image.png" id="my-image">
      </div>
      <div class="col col-2">
        <h1 id="about-me-heading">About me</h1>
        <p>I'm Jainam, a passionate 19-year-old who has a deep love for coding and creating things that make a difference. With a keen eye for problem-solving and a fascination with technology, I find joy in turning ideas into reality through the power of code. Whether it's crafting software, building websites, or exploring new technologies, I'm always eager to learn and take on new challenges. Join me on my journey of exploration and creation in the world of tech!
        </p>
        <div class="tab-titles">
          <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
          <p class="tab-links" onclick="opentab('experience')">Experience</p>
          <p class="tab-links" onclick="opentab('education')">Education</p>
        </div>
        <div class="tab-contents active-tab" id="skills">
          <ul>
            <li><span>Web Development</span><br>Full Stack Web Developement</li>
            <li><span>Windows Application</span><br>C# based Windows application Developer</li>
          </ul>
        </div>
        <div class="tab-contents" id="experience">
          <ul>
            <li><span>2020-2022</span><br>Front End Web dev at Syntia Tech</li>
          </ul>
        </div>
        <div class="tab-contents" id="education">
          <ul>
            <li><span>2025</span><br>Advance Diploma in Software Technology: Artificial Intellegence</li>
          </ul>
        </div>
      </div>
      </div>
    </div> 
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>