<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  
  <div id="home">
    <%- include("./partials/navbar.ejs") %>
  <div class="main-content">
    <p>Full Stack Developer</p>
    <h1>Hi, I am <span>Jainam</span></h1>
    <h2>Welcome to my Digital Workspace,</h2>
    <h2>This is where the  <span>MAGIC HAPPENS!</span></h2>
  </div>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>