<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/navbar.ejs") %>
<div id="project">
  <div class="container ">
    <h1 class="project-heading text-center">My-Projects</h1>
    <div class=" project-row">
      <div class=" project-col ">
        <img src="/images/project-image-1.png" class="project-images mx-auto">
        <div class="layer">
          <h3>Personal Desktop Assistant</h3>
          <p>"Personal Desktop Assistant: A productivity software for efficient task management and instant information retrieval on your computer."</p>
        </div>
      </div>
      <div class=" project-col ">
        <img src="/images/project-image-2.png" class="project-images mx-auto">
        <div class="layer ">
          <h3>Netflix Clone</h3>
          <p>Netflix Clone: A platform that replicates Netflix's streaming experience for users to enjoy a wide range of movies and TV shows.</p>
        </div>
      </div>
      <div class=" project-col ">
        <img src="/images/projecy-image-3.png" class="project-images mx-auto">
        <div class="layer">
          <h3>Youtube Clone</h3>
          <p>A video-sharing platform similar to YouTube, allowing users to upload, view, and share videos seamlessly.</p>
        </div>
      </div>
    </div>
  </div>
</div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>