<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/navbar.ejs") %>
   <div id="services container-fluid">
    <h1 class="services-heading">My Services</h1>
    <div class="container-fluid cards">
      <div class="row align-items-start">
        <div class="col">
          <div class="card bg-dark">
          <div class="card-body " style="">
            <h5 class="card-title text-left">Card title 1</h5>
            <p class="card-text text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam minus fugit facere labore nisi, corporis perferendis. Et similique suscipit quisquam laborum. Ad explicabo perspiciatis hic asperiores voluptas exercitationem omnis optio.</p>
          </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg-dark">
            <div class="card-body" style="">
              <h5 class="card-title text-left">Card title 1</h5>
              <p class="card-text text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam minus fugit facere labore nisi, corporis perferendis. Et similique suscipit quisquam laborum. Ad explicabo perspiciatis hic asperiores voluptas exercitationem omnis optio.</p>
            </div>
            </div>
        </div>
        <div class="col">
          <div class="card bg-dark">
            <div class="card-body" style="">
              <h5 class="card-title text-left">Card title 1</h5>
              <p class="card-text text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam minus fugit facere labore nisi, corporis perferendis. Et similique suscipit quisquam laborum. Ad explicabo perspiciatis hic asperiores voluptas exercitationem omnis optio.</p>
            </div>
            </div>
        </div>
      </div>
    </div>
   </div>
  

  <%- include("./partials/footer.ejs") %>
</body>
</html>