#logo{
    width: 120px;
    margin-top: 6px;

}
.navbar{

}

.container-fluid{
    height: 80px;
    padding-top: -30px;
    align-items: baseline;
}

#navbarNav{
    justify-content: flex-end;
}

.navbar-expand-lg  {
    height: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Horizontal offset, Vertical offset, Blur radius, Color */
  }

